body {
  margin: 0;
  background-color: lightcoral;
}
#project-header {
  padding: 10px;
  text-align: center;
  background: linear-gradient(
    9deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 59%,
    rgba(253, 29, 29, 1) 100%
  );
  position: sticky;
  top: 0;
}
.header-anchor {
  font-size: 26px;
  padding: 16px;
}
#header-image {
  width: 100%;
  height: 300px;
}
#project-title {
  text-align: center;
  font-style: italic;
}

/* Project content */

.image-label {
  width: 100px;
  height: 100px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
.image-div {
  padding-bottom: 6px;
  background-color: white;
  border-radius: 120px;
}
.image-label {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 10px;
}
.caption-places {
  text-align: center;
  margin-top: 16px;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}
.image-td {
  padding-right: 26px;
}
.image-tr {
  margin-bottom: 10px;
}
